.main {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    height: calc(100vh - 445px);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.main::-webkit-scrollbar {
    display: none;
}

.main h2 {
    color: #000;
    font-size: 20px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}