* { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}

body, p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

body::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.logoTitle {
    display: flex;
    align-items: center;
}
.logoTitle .fontStyle {
    font-size: 21px;
    font-weight: 700;
    margin-left: 7px;
}

.fontTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.785656px;
    color: #333D4B;
    margin: 21px 0 17px;
}

.fontInfo {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.598595px;
    color: #6B7684;
}

.logo_image {
    width: 30px;
    height: 30px;
}
.btn {
    width: 90px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.4px;
    letter-spacing: -0.45px;
    cursor: pointer;
}

.q {
    border: none;
    background-color: #fff;
}

.s {
    border: 1px solid #0E7159;
    color: #fff;
    background-color: #0E7159;
    border-radius: 5px;
}

.main_image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7962), rgba(0, 0, 0, 0.7962) ), url(image/main.png);
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main_image p {
    height: 144px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -2.24473px;
    color: #FFFFFF;    
    position: absolute;
    top: calc(50% - 144px/2 - 33.5px);
}

.main_image a {
    height: 29px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.897892px;
    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    top: calc(50% + 160px/2);
}

.br-72 {height: 72px;}
.br-117 {height: 117px;}
.br-117-2 {height: 117px;}
.br-117-3 {height: 117px;}
.br-166 {height: 166px;}
.br-184 {height: 184px;}
.br-184-2 {height: 184px;}

.phone_br {
    height: 166px;
}

.section-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
}

.section-div .section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: -1.79578px;
    color: #0E7159;
    margin: 53px 0;
}

.section-div .image-list {
    display: flex;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.section-div .image-list .info {
    display: flex;
    flex-direction: column;
    width: 293px;
}

.section-div .image-list img {
    width: 293px;
    height: 233px;
}

.section-div .image-list .info .p-title {
    width: 60%;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    margin: 5px 0;
}

.section-div .image-list .info .p-info {
    width: 100%;
    margin: 0;
    font-size: 0.88rem;
    line-height: 1.1;
    color: #6B7684;
    font-weight: 600;
}

.infoBtn {
    margin-top: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.673419px;
    color: #0E7159;
}

.fontColor {
    color: #0E7159;
    font-weight: bold;
}

.section-div .text-list {
    margin-top: 19px;
    display: flex;
    width: 69%;
    gap: 57px 49px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.section-div .text-list::after {
    content: '';
    width: 293px;

}

.section-div .text-list .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 293px;
}

.section-div .text-list .info .p-number {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.785656px;
    color: #0E7159;
}

.section-div .text-list .info .p-title {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: -0.785656px;
    color: #333D4B;
    margin: 9px 0 16px;
}

.section-div .text-list .info .p-info {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: -0.598595px;
    color: #6B7684;
}

.btnMargin {
    margin: 71px 0 11px;
}
.btnMargin2 {
    margin: 49px 0 19px;
}

.section-div .phone-list {
    display: flex;
    width: 80%;
    gap: 243.9px;
    flex-wrap: wrap;
    justify-content: center;
}

.section-div .phone-list .info {
    width: 453px;
}

.section-div .phone-list .info p:first-child {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.897892px;
    color: #0E7159;
}

.section-div .phone-list .info p:nth-child(2) {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1.79578px;
    color: #333D4B;
    margin: 21px 0 34px;
}

.section-div .phone-list .info p:nth-child(3) {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.897892px;
    color: #6B7684;
}

.section-div .phone-list .info img {
    width: -webkit-fill-available;
}

.imgBlur {
    mix-blend-mode: normal;
}

.section-div .price-list {
    display: flex;
    width: 100%;
    grid-gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}

.section-div .price-list .info {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #f2f3f4;
    padding: 30px 24px 24px 24px;
    width: 290px;
}

.section-div .price-list .info p:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.897892px;
    color: #333D4B;
}

.section-div .price-list .info p:nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.598595px;
    color: #6B7684;
    margin: 28px 0 42px;
}

.section-div .price-list .info p:nth-child(3) {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1.19719px;
    color: #0E7159;
}

.section-div .price-list .info p:nth-child(4) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: -0.598595px;
    color: #6B7684;
    margin: 15px 0 26px;
}

.section-div .price-list .info button {
    background-color: #0E7159;
    width: 292px;
    height: 64px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.598595px;
    color: #FFFFFF;
    border-radius: 7px;
}

.section-div-none {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    overflow-x: hidden;
}

.section-div-none .section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: -1.79578px;
    color: #0E7159;
    margin: 53px 0 37px;
}

/* .section-div-none .review-list {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    gap: 42px;
    justify-content: center;
} */

.section-div-none .review-list {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    display: flex;
    gap: 1%;
    overflow-x: hidden;
    flex-wrap: nowrap;
}

.section-div-none .review-list .info {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #f2f3f4;
    padding: 60px;
    width: 575px;
}

.section-div-none .left-blur {
    position: absolute;
    left: 0%;
    right: 85%;
    top: 0%;
    bottom: 0%;
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, transparent 100%);
    padding: 0 32px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.section-div-none .right-blur {
    position: absolute;
    left: 85%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image: linear-gradient(90deg, transparent 0%, rgb(255, 255, 255) 100%);
    padding: 0 32px;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.section-div-none .left-blur button,.right-blur button {
    font-size: 3rem;
    color: #6B7684;
}

.section-div-none .review-list .info .user-all-info {
    display: flex;
    gap: 16px;
}

.section-div-none .review-list .info .user-all-info .user-name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.673419px;
    color: #333D4B;
    margin-bottom: 3px;
}

.section-div-none .review-list .info .user-all-info .user-type {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.673419px;
    color: #6B7684;
}

.section-div-none .review-list .info .review-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.673419px;
    color: #6B7684;
    margin-top: 34px;
}

.section-div-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #0E7159;
    height: 608px;
    justify-content: center;
}


.section-div-bottom h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -2.24473px;
    color: #FFFFFF;
    margin: 0 0 62px 0;
}

.section-div-bottom button {
    height: 60px;
    width: 170px;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.598595px;
    color: #0E7159;
    background: #fff;
}

footer {
    width: 60%;
    margin: auto;
    padding: 24px 0 26px;
}

footer p:first-child {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.598595px;
    color: #333D4B;
    margin-bottom: 18px;
}

footer p:last-child {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.523771px;
    color: #6B7684;
}


@media screen and (max-width: 1440px) {
    .section-div .price-list::after {
        content: '';
        width: 340px;
    }
}

@media screen and (max-width: 1246px) {
    .phone_br {
        height: 143px;
    }
    .section-div .phone-list {
        width: 62%;
        gap: 24.6px;
    }
    .section-div .phone-list .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-div .phone-list .info p {
        text-align: center;
    }
    .section-div .phone-list .info img {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    header .q {
        display: none;
    }
    .main_image p {
        top: calc(50% - 116px/2 - 10px);
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -1.79578px;
    }
    .main_image a {
        display: none;
    }
    .section-div .section-title {
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -1.19719px;
        margin: 41px 0;
    }
    .section-div .section-title.section4 {
        font-size: 36px;
        line-height: 43px;
    }
    .btnMargin {
        margin: 39px 0 11px;
    }
    .section-div .section-title.section6 {
        font-size: 36px;
        line-height: 43px;
    }
    .section-div .image-list {
        width: 90%;
    }
    .section-div .image-list::after {
        content: '';
        width: 293px;
    }
    .section-div .text-list {
        width: 90%;
    }
    .section-div-none .section-title.section7 {
        font-size: 36px;
        line-height: 43px;
        letter-spacing: -1.34684px;
    }
}

@media screen and (max-width: 768px) {
    .main_image p {
        top: calc(50% - 86px/2 - 8.5px);
        font-size: 36px;
        line-height: 43px;      
    }
    .section-div-bottom h1 {
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 42px;
    }
    footer {
        width: 87%;
    }
}

@media screen and (max-width: 480px) {
    header {justify-content: space-between;}
    .main_image p {
        top: calc(50% - 58px/2 - 6px);
        font-size: 24px;
        line-height: 29px;
    }
    .section-div .section-title {
        font-size: 21px;
        line-height: 25px;
        letter-spacing: -0.785656px;
        margin: 0 0 42px;
    }
    .img-list-btn {display: none;}

    .br-117 {height: 0px;}
    .br-117-2 {height: 110px;}
    .br-117-3 {height: 48px;}
    .br-184 {height: 77px;}
    .br-184-2 {height: 30px;}

    .section-div .section-title.section4 {
        font-size: 24px;
        line-height: 29px;
    }
    .section-div .section-title.section4 span {display: none;}
    .section-div .text-list {margin-top: 0;}
    .btnMargin {margin: 0;}    
    .btnMargin2 { display: none;}

    .section-div .phone-list {width: 71%;}
    .section-div .phone-list .info p:nth-child(2) {
        font-size: 36px;
        line-height: 43px;
        letter-spacing: -1.34684px;
        margin: 33px 0 33px;
    }
    .section-div .phone-list .info p:nth-child(3) {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.673419px;
    }

    .section-div .section-title.section6 {
        font-size: 24px;
        line-height: 29px;
    }

    .section-div-none .section-title.section7 {
        font-size: 24px;
        line-height: 29px;
    }
    .section-div-none .review-list .info {
        padding: 34px;
        width: 333px;
    }

    .section-div-bottom h1 {
        font-size: 36px;
        line-height: 43px;
        letter-spacing: -1.34684px;
    }
}