body, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 10px;
}


.pagination li {
    margin: 0 5px;
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    width: 135px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.pagination li.active a {
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li.active a:hover {
    background-color: #333;
}

.pagination li a:hover {
    background-color: #ddd;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

main {
    margin: 20px;
}

.section1 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section1 h2 {
    margin: 30px 0 15px;
}

.info1 {
    width: 50%;
    display: flex;
    gap: 30px;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
}

.info1 .profile {
    width: 200px;
    height: 200px;
}

.info1 .user-info {
    margin: 15px 0;
}

.info1 .user-info .user-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.info1 .user-info a {
    margin: 5px 0 0 0;
}

.info1 div ul {
    padding: 15px;
}

.info1 div ul li {
    margin: 5px 0;
}

.info2 {
    width: 50%;
    display: flex;
    gap: 65px;
    margin: 30px 0;
    justify-content: center;
    align-items: stretch;
}

.additional {
    font-size: 12px;
    font-weight: bold;
    color: #55555582;
}

.skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-info .use-skill {
    display: flex;
    gap: 3px;
}

.project-info .use-skill span {
    font-size: 12px;
    line-height: 1.5;
    vertical-align: top;
    margin: 0 0.25rem 0.25rem 0;
    padding: 0.125rem 0.375rem;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 400;
    color: #263747;
    background-color: #E9ECF3;
}

.project-info ul {
    padding: 10px 13px;
}

.project-info ul li {
    margin-bottom: 10px;
}

.award-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px 0 70px;
}

.award-info hr {
    width: 100%;
}

.award-info .award-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 0.0625rem solid #E9ECF3;
    margin: 10px 0;
}

.award-info .award-list .award-date {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    color: #98A8B9;
    line-height: 1.5rem;
    width: 30%;
}

.award-info .award-list .award-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.award-info .award-list .award-text h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}


body::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}


/* @media screen and (max-width: 768px) {
    p {
        font-size: 24px;
        color: blue;
    }
} */